.projects {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    text-align: center;
    position: relative;
}
.projects p {
    width: 50%;
    color: white;
    display: inline-block;
    font-weight: bold;
    padding-top: 32px;
    word-spacing: 2px;
    text-shadow: 0px 0px 20px black;
}
.image1 {
    background: url("https://i.redd.it/frxi6pqw5vfe1.jpeg");
    background-repeat: no-repeat;
}
.image2 {
    background: url("https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/2404060/header.jpg?t=1707542106");
    background-repeat: no-repeat;
}
